body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  line-height: 3rem;
  margin:  5%;
  margin-bottom: 3%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 15px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid rgb(21, 21, 21);
  border-radius: 20%;
}
.btn:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.start-btn {
  background-color: #3988de;
  font-size: 4rem;
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  padding: 25px 50px;
  margin-top: 100px;
  border-radius: 50px;
  border: none;
}
.start-btn:hover {
  transform: scale(1.05);
  background-color: #307ac9;
}
.start-btn:active {
  background-color: #2a71be;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
